.ContactsPage {
	width: 100%;
	display: flex;
	flex-direction: column;
	p.countContactList {
		margin: 40px 80px 30px;
		font-size: 22px;
	}
	.icon1{
		cursor: pointer;
		font-size: 18px;
		color: dodgerblue;
	}
	.icon2{
		cursor: pointer;
		font-size: 19px;
	}
	.icon3{
		cursor: pointer;
		font-size: 18px;
		color: crimson;
	}
}

.ant-pagination.ant-table-pagination.ant-table-pagination-right {
	display: none;
}
th.ant-table-cell {
	text-align: center;
}
