.detailInfo {
	width: 80%;
	margin: 2% auto;
	position: relative;
	.modal {
		width: 60%;
		height: 25vh;
		position: fixed;
		top: -5%;
		left: 50%;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-50%);
		background-color: #333;
		display: flex;
		border-width: 10px;
		border-style: solid;
		border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		letter-spacing: 1px;
		border-radius: 10px;
		transition: 1s all;
		color: white;
		z-index: 11;
		.iconSound {
			color: green;
			font-size: 32px;
			margin-right: 5px;
			animation: 500ms animateNotification linear infinite;
		}
	}
	.modal.active {
		opacity: 1;
		top: 5%;
		visibility: visible;
		.iconSound {
			color: green;
			font-size: 32px;
			margin-right: 5px;
			animation: 500ms animateNotification linear infinite;
		}
	}
	.getToContacts {
		color: olivedrab;
		font-style: italic;
		cursor: pointer;
		display: inline-block;
		padding-bottom: 1px;
		text-decoration: none;
		font-size: 20px;
	}

	h1 {
		text-align: center;
		color: dodgerblue;
		font-weight: 500;
		font-style: italic;
		span {
			color: #000;
			font-style: normal;
		}
	}

	p.iconNotification {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #333;
		padding: 5px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border-radius: 5px;

		span {
			display: flex;
			align-items: center;
			color: #fff;
			font-size: 12px;
			letter-spacing: 1px;

			.iconSound {
				color: green;
				font-size: 22px;
				margin-right: 5px;
			}

			.iconMute {
				color: crimson;
				font-size: 22px;
				margin-right: 5px;
			}
		}
	}

	table {
		width: 100%;

		tbody {
			tr {
				width: 100%;
				display: flex;
				border: 1px solid lightgray;
				border-bottom: none;
				transition: 300ms all;

				&:first-child {
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}

				&:last-child {
					border-bottom: 1px solid lightgray;
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}

				&:hover {
					background-color: rgb(238, 238, 238);
				}

				&:hover td {
					border-right: 1px solid lightgray;
				}

				td {
					width: 50%;
					list-style-type: none;
					border-right: 1px solid rgb(233, 233, 233);
					padding: 5px 10px;
					cursor: pointer;
				}
			}
		}
	}
}

@keyframes animateNotification {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0);
	}
}
